@media screen and (max-width:1140px) {
  .header__container {
    padding: 0 15px;
  }

  .hero__container {
    padding: 015px;
    padding-top: 50px;
  }

  .icon--title {
    margin-top: 250px;
  }

  .main__info {
    margin-top: 100px;
    margin-left: -170px;
  }

  .title {
    margin-top: 300px;
  }

}

@media screen and (max-width:992px) {
  .header__container {
    padding: 0 30px;
  }

  .main__info {
    width: 700px;
    margin-top: 150px;
    margin-left: -200px;
  }

  .title {
    margin-top: 400px;
  }

  .hero__container {
    padding: 0 60px;
  }

  .hero__img {
    padding-left: 50px;
    margin-left: -200px;
    width: 600px;
    height: 550px;

  }

  .web {
    background-color: white;
    padding: 0;
  }

  .icon--title {
    margin-top: 335px;
  }
}

@media screen and (max-width: 768px) {
  .head__nav ul {
    display: none;
  }

  .header__container {
    flex-direction: column;
  }

  .hero__info {
    padding: 0 20px;
  }

  .hero__img {
    padding-left: 50px;
    margin-right: 950px;
    width: 600px;
    height: 550px;
    margin-top: 200px;

  }

  .hero__container {
    flex-direction: column;
  }

  .main__container {
    padding: 40px 0;
  }

  .hero__img {
    margin-left: 700px;
    padding-left: 50px;
  }

  .card__container {
    padding: 40px 0;
  }

  .icon--title {
    display: none;
  }

  .main__info {
    width: 300px;
    flex-direction: column;
    height: 600px;
    margin-top: 700px;
    margin-left: -90px;
  }

  .title {
    margin-top: 1200px;
    margin-left: 20px;
  }

  .card__container {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .hero__info {
    h1 {
      font-size: 32px;
    }
  }

  .card__container {
    gap: 40px;
    flex-direction: column;
    text-align: left;
    margin-top: 100px;
  }

  .hero__img {
    text-align: center;
    margin-left: 550px;
  }

  .main__info {
    display: none;
  }

  .hero__container {
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
  }

  .title {
    margin-top: 600px;
    margin-left: 100px;
  }

  .card__container {
    text-align: center;
    margin-left: 100px;
  }
}