* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header .hero__container {
    background-color: #103944;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #103944;
    margin-top: 45px;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 10px;

    .head__nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 33px;
        list-style: none;
    }

    .head__nav a {
        text-decoration: none;
        color: #A1B5BB;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 600;
        line-height: 21.78px;
        text-align: left;

    }

    .head__btn .btn {
        padding: 14px 35px;
        border-radius: 25px;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: left;
        background-color: #145E76;
        border: none;
        transition: all 0.5s;
        color: white;


    }

}

// HERO
.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #103944;
    position: relative;
    height: 754px;
    padding: 100px;

    .hero__info button {
        font-family: 'Schoolbell';
        font-size: 24px;
        font-weight: 400;
        line-height: 33.42px;
        text-align: left;
        margin-bottom: 40px;
        padding: 16px 30px;
        border-radius: 30px;
        background-color: #094556;
        border: none;
        margin-left: 7px;
        cursor: pointer;
        transition: all 0.5s;
    }

    .hero__info h1 {
        font-family: 'Inter';
        font-size: 64px;
        font-weight: 700;
        line-height: 80px;
        text-align: left;
        margin-bottom: 30px;
        color: #ffffff;
        padding-left: 7px;
    }

    .hero__info p {
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        color: #849499;
        margin-bottom: 50px;
        padding-left: 7px;

    }

}

.hero__info {
    .hire {
        background-color: #FFA63A;
        text-decoration: none;
        color: #FFFFFF;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 28.8px;
        text-align: left;
        padding: 16px 35px;
        border-radius: 25px;

    }

    .work {
        text-decoration: none;
        color: #FFFFFF;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 28.8px;
        text-align: left;
        border-radius: 25px;
        padding-left: 50px;
    }
}

.icon--title {
    width: 300px;
    height: 169px;
    background: linear-gradient(135deg, #1f4e75, #4a92c1);
    border: 3px solid #FFFFFF80;
    position: absolute;
    top: 250px;
    right: 1px;
    border-radius: 20px;
    padding: 10px;
    color: white;

    h5 {
        position: absolute;
        top: 90px;
        left: 70px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px;
        letter-spacing: 0.05em;
        text-align: left;
    }

    h6 {
        position: absolute;
        left: 70px;
        top: 110px;
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
        color: #A1B5BB;
    }

    p {
        margin-bottom: 15px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;

    }
}

button:hover {
    box-shadow: 1px 2px 3px gray;
}

.main__container {
    position: relative;
}

.main__info {
    display: flex;
    align-items: center;
    width: 890px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px 0px gray;
    height: 250px;
    position: absolute;
    top: -80px;
    left: 300px;
    text-align: center;
    gap: 40px;
    background-color: white;
    padding: 15px;
    padding: 78px 100px;

    .main h6 {
        font-family: 'Inter';
        font-size: 24px;
        font-weight: 600;
        line-height: 22.4px;
        margin-bottom: 39px;
        color: #265A6A;

    }

    .main span {
        font-family: 'Inter';
        font-size: 48px;
        font-weight: 600;
        line-height: 22.4px;
        color: #08546C;

    }

}

.title {
    text-align: center;
    margin-top: 200px;

    h2 {
        font-family: 'Inter';
        font-size: 45px;
        font-weight: 600;
        line-height: 60px;
        text-align: center;
        color: #08546C;
        margin-top: 30px;

    }

    a {
        font-family: 'Schoolbell';
        font-size: 24px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: center;
        color: #265A6A;
        text-decoration: none;
        border-bottom: 1px solid #265A6A;

    }
}

// card
.card__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;

    .card {
        width: 273px;
        height: 251px;
        padding: 32px 29px;
        box-shadow: 0px 41.78px 33.42px 0px #0000000D;
    }

    .card h4 {
        font-family: 'Inter';
        font-size: 24px;
        font-weight: 600;
        line-height: 29.05px;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 25px;
        color: #0F1221;

    }

    .card p {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: left;
        margin-bottom: 34px;
        color: #696969;

    }
}

.web {
    background-color: #08546C;

    .web h4 {
        color: #FFFFFF;
    }
}
@import './responsive'